@import '../variables.scss';

.CompanyCreation {
  padding-top: 3%;

    .btn {
      max-width: 80%;
      font-size: 100%;
      background-color: rgb(109, 194, 209);
      border: 1px solid rgb(109, 194, 209);
      margin: 3%;
    }

    .btn:hover {
      background-color: white;
      color: rgb(109, 194, 209);
      border: 1px solid rgb(109, 194, 209);
    }
  }
