@import '../variables.scss';

.Footer {
    background-color: $titleBlue;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 5px rgb(75, 74, 74);

    .wcs-logo {
      width: 15%;
    }

    ul.list {
        list-style-type: none;
        padding: 0;
        text-align: center;
        margin-bottom: 0;
    }

    a {
        color: white;
    }

    a:hover {
        color: white;
    }
    
    .credits-footer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      font-size: 10px;
      text-align: center;
    }

    @media screen and (max-width: 576px) {
      .hiddenImg {
        display: none;
      }
    }
}


