@import '../variables.scss';

.ReviewCard {
  
  .row-title-review-card {
    justify-content: center;
    margin-bottom: 30px;
  }

  .date {
    color: $titleBlue;
    text-align: left;
  }

  .card-review {
    margin-bottom: 2%;
  }

  .header-card {
    display: flex;
    justify-content: space-between;
  }
}

