.QuestionMail{
  Form {
    margin-top: 1em;

    .user-mail{
      width: 70%;
      margin: auto;
      text-align: center;
      }
    .city-user{
      width: 70%;
      margin: auto;
      text-align: center;
      }
    .poste-user{
      width: 60%;
      margin: auto;
      text-align: center;
      }
    .contract-user{
      width: 60%;
      margin: auto;
      text-align: center;
    }
  }
}