@import '../variables.scss';

.ResultCard{
  margin-bottom: 3%;
  padding: 2em 3em;
  background-color: $bgBeige;
  border-radius: 10px;

  .row-title-company {
    justify-content: center;
  }

  .header-jumbotron-company {
    justify-content: center;
    .logo-company{
      width: 160px;
      margin-bottom: 2rem;
      border: 1px;
      box-shadow: 2px;
      border-radius: 5px;
    }

    .col-description {
      margin-top: 30px;
      text-align: left;
    }
  } 

  h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .description-label {
    font-weight: bold;
  }
  .description-text {
    text-align: justify;
  }

  .btn {
    background-color:$buttonBlue;
    border: 1px solid $buttonBlue;
  }

  .btn:hover {
    background-color: white;
    color: $buttonBlue;
    border: 1px solid $buttonBlue;
  }
  
}