@import '../../variables.scss';

.HomePage {
  .container-search-homepage {
    width: 100%;
    margin-top: -70px;
    padding-top: 9em;
    padding-bottom: 1.5em;
    background-image: url('/medias/homepage-background-phone.jpg'); 
    background-size:cover;
    color:rgb(0, 0, 0);
    box-shadow: 2px 3px 9px rgb(212, 211, 211);
  
    .background-search-bar {
      padding: 2.4em 1em 1.8em ;
      margin: auto;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.664);
      box-shadow: 2px 2px 12px rgb(138, 136, 136);
      @media screen and (min-width: 992px) {
        & {
          max-width: 50em;
          min-width: 20em;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        & {
          max-width: 50em;
        }
      }
    }
  }
  
  .container-top7-homepage {  
    background-color: $bgBeige;
  }
  
  .container-sections-homepage{
  
    .row-sections-homepage {
      justify-content: center;
    }
  }
}